{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-unused-vars": ["error", { "args": "none" }],
    "no-console": "warn",
    "no-cond-assign": "off",
    "no-unreachable": "warn",
    "no-extra-boolean-cast": "warn",
    "react/prefer-stateless-function": [1, {}]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
